/* * {
  box-sizing: border-box;
} */
html,
body {
  background-color: rgb(200, 255, 148);
  font-family: "Purple Purse", cursive;
}
h1 {
  text-align: center;
  font-family: "Purple Purse", cursive;
}
ul {
  list-style: none;
}
#input {
  font-family: "Purple Purse", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.devbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
